
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
    background: #f4f5f6;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    margin: 0;
}

a:hover, a:focus{
    text-decoration: none;
}

ul, li { list-style: none; margin: 0; padding: 0; }

@media (min-width: 1200px){
    .container {
    padding: 0;
}
}

/*==========================================================
        .top-bar
==========================================================*/
.top-bar {
    background: #26324d;
    padding: 12px 0;
}

.top-logo {
    float: left;
    margin-top: 6px;
}

.top-logo img {
    max-width: 120px;
    width: auto;
}

.top-search {
    position: relative;
    max-width: 870px;
    /* margin: 0 auto; */
    float: left;
    width: 100%;
}

#bbp_search,
#hs {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 65px;
    font-size: 14px;
    padding: 22px 20px 22px 40px;
    text-indent: 0;
    height: 16px;
    width: 100%;
    -webkit-appearance: none;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#bbp_search:focus,
#hs:focus {
    border: 1px solid #7e7e7e;
    outline: none;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#bbp_search_submit,
#header-searchbutton {
    background: transparent;
    border: 0 none;
    border-radius: 30px;
    box-shadow: none;
    color: #5bd6e5;
    font-size: 16px;
    font-weight: 400;
    height: 34px;
    left: 4px;
    /*	margin-left: 15px;*/
    position: absolute;
    text-transform: uppercase;
    top: 4px;
    width: 34px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#bbp_search_submit {
    top: 4px;
}

#bbp_search_submit i,
#header-searchbutton i {
    position: relative;
    color: #5bd6e5;
    top: -4px;
}

#bbp_search_submit i {
    left: 1px;
    top: 2px;
}

#bbp_search_submit:hover,
#header-searchbutton:hover {
    background: #000;
    opacity: 1;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#bbp_search_submit:hover i,
#header-searchbutton:hover i {
    color: #fff;
}

.top-my-account {
    text-align: right;
}

.top-my-account button {
    background: transparent;
    border: none;
    outline: none;
}

.top-my-account button img {
    max-width: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(296deg, #5bd6e5, #9adf55);
    border-image-slice: 1;
    background-color: #d8d8d8;
    outline: none;
}

.top-my-account .dropdown-menu {
    left: auto !important;
}

span.caret1:after {
    color: #939da7;
    content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 17px;
    font-weight: 100;
    line-height: 10px;
    margin-left: 1px;
    position: relative;
    right: -8px;
    text-align: right;
    top: 1px;
}

/*==========================================================
        #profile-main
==========================================================*/

#profile-main {
    padding: 47px 0;
}

.profile-main-avatar {
    box-shadow: 0px 1px 3px 0px rgba(38, 50, 77, 0.3);
    padding: 56px 0 0;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    position: relative;
    z-index: 0;
}

.profile-avatar-image {
    max-width: 136px;
    position: relative;
    background-clip: padding-box;
    /* !importanté */
    border: solid 2px transparent;
    margin: 0 auto;
}

.profile-avatar-image img {
    max-width: 132px;
    border-radius: 50%;
}

.profile-avatar-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: 50%;
    background: linear-gradient(296deg, #5bd6e5, #9adf55);
}

.profile-avatar-content h4{
	color: #313e59;
    margin-top: 26px;
    font-weight: 500;
}

.profile-avatar-content h5{
	color: #939da7;
    font-size: 15px;
    margin: 12px 0 19px;
}

.profile-avatar-content a{
	color: #5856d6;
    font-size: 14px;
}

.profile-main-list {
    text-align: left;
    margin-top: 38px;
    padding: 25px 0 10px;
    box-shadow: inset 0 1px 0 0 #dfe2e5;
}

.profile-main-list ul{
    padding: 0;
    list-style-type: none;
}

.profile-main-list ul li a{
    color: #5e6d7c;
    font-size: 14px;
    border-left: 4px solid transparent;
    padding: 7.5px 0;
    padding-left: 30px;
    display: block;
}

.profile-main-list ul li.active a{
    border-left: 4px solid #5856d6;
}

.profile-main-list ul li i{
    color: #5856d6;
    font-size: 14px;
    width: 20px;
    text-align: center;
}

/*==========================================================
        .comment-tabs
==========================================================*/

.comment-tabs .nav-tabs {
    /* border-bottom: 2px solid #33b5e5; */
/*    text-align: center;*/
}

.comment-tabs .nav-tabs>li {
    /* margin-bottom: -2px; */
    display: inline-block;
    float: none;
}

.comment-tabs .nav-tabs>li>a {
    border: 2px solid transparent;
    border: none;
    color: #313e59;
    opacity: 0.65;
    font-size: 14px;
    padding: 12px 20px;
}

.comment-tabs .nav-tabs>li>a h4{
    margin: 0;
    font-size: 14px;
}

.comment-tabs .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.comment-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 4px solid #5bd6e5;
    opacity: 1;
    background: transparent;
}

.comment-tabs .tab-content {
    padding-top: 30px;
    overflow: hidden;
}

.comment-tabs .tab-content p{
    line-height: 21px;
    margin-left: 0px;
    color: #6f788b;
    display: block;
}

.comment-tabs .tab-content .tabs-image {
    padding: 50px 0;
    max-width: 500px;
    margin: 0 auto;
}

.comment-tabs .tab-content .item {
    position: relative;
    margin: 15px;
    border-left: 3px dashed antiquewhite;
    padding: 10px 40px;
}

.comment-tabs .tab-content .item > span {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    left: -20px;
    top: 0;
    background: antiquewhite;
}

/*==========================================================
        .sorting-bar
==========================================================*/

.sorting-bar {
    overflow: hidden;
    margin-bottom: 30px;
}

.sorting-bar h5{
	opacity: 0.65;
    float: left;
    margin: 2px;
}

.bars .order select {
    background: transparent;
    border: none;
    color: #313e59;
    font-weight: 500;
    outline: none;    
}

/*==========================================================
        .main-tab-inner-box
==========================================================*/

.main-tab-inner-box {
    box-shadow: 0px 1px 3px 0px rgba(38, 50, 77, 0.3);
    margin-bottom: 42px;
    border-radius: 6px;
    background: #fff;
    position: relative;
}

.main-tab-inner-box-top {
    padding: 20px;
    padding-bottom: 6px;
}

.main-tab-inner-box-top-head span.label {
    /* float: right; */
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 18px;
}

.main-tab-inner-box-top-head h4 {
    margin-bottom: 12px;
    color: #313e59;
    position: relative;
    float: left;
    line-height: 23px;
    width: 90%;
}

.main-tab-inner-box-top-head a {
    float: right;
    color: #9098aa;
    margin-top: 3px;
}

/*
.main-tab-inner-box-top h4:before{
    position: absolute;
    content: '\f08e';
    top: 0;
    left: 0;
    font-family: 'FontAwesome';
}
*/

.main-tab-inner-box-top p {
    color: #6f788b !important;
    display: inline-block !important;
}

.main-tab-inner-box-footer {
    overflow: hidden;
    padding: 12px 15px;
    border-top: 1px solid #dfe2e5;
}

.main-tab-inner-box-footer h6{
    color: #9da6af;
    float: left;
    margin-top: 5px;
}

.main-tab-inner-box-footer ul{
    float: right;
    margin: 0;
}

.main-tab-inner-box-footer ul a{
    color: #9da6af;
}

.main-tab-inner-box-footer ul i{
    vertical-align: middle;
}

.main-tab-inner-box-middle {
    /* margin-bottom: 20px; */
    padding: 15px 20px 25px;
    border-top: 1px solid #dfe2e5;
}

.main-tab-inner-box-middle ul {
    padding-left: 0.5em;
}

.main-tab-inner-box-middle li {
    padding-left: 10px;
    border: 1px dotted #6f788b;
    border-width: 0 0 2px 2px;
}

.main-tab-inner-box-middle li.contain-list {
    border-bottom: 15px;
}

.main-tab-inner-box-middle li p {
    margin: 0;
    background: white;
    position: relative;
    top: 12px;
    padding-left: 5px;
}

.main-tab-inner-box-middle li ul {
    border-top: 2px dotted #6f788b;
    margin-left: -1em;
    padding-left: 1.5em;
}

.main-tab-inner-box-middle li a {
    color: #6f788b;
}

.main-tab-inner-box-middle li a:hover {
    text-decoration: underline;
}

.main-tab-inner-box-middle ul li:last-child ul {
    border-left: 2px solid white;
    margin-left: -12px;
}

/*==========================================================
        .tooltip1
==========================================================*/

.tooltip1 {
  position: relative;
  display: inline-block;
    cursor: pointer;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  min-width: 250px;
  background-color: #6f788b;
  color: #dfe2e5;
  border-radius: 3px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  left: 125%;
  top: -47px;
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  line-height: 19px;
    box-shadow: 0px 1px 3px 0px rgba(38, 50, 77, 0.3);
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 44%;
  margin-bottom: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #6f788b transparent transparent;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tab-second-box .main-tab-inner-box-middle p{
    color: #939da7;
    font-size: 12px;
}

.tab-second-box .main-tab-inner-box-middle p span{
    font-weight: 500;
}

.tab-second-box .main-tab-inner-box-middle a{
    color: #939da7;
}

.tab-second-box .main-tab-inner-box-middle {
    padding-top: 0px;
    border-top: none;
    min-height: 90px;
}

.tab-second-box .main-tab-inner-box-top {
    padding-bottom: 0;
}

.yellow-box {
	border-top: 5px solid #ff9500;
}

.blue-box {
	border-top: 5px solid #007aff;
}

.voilet-box {
	border-top: 5px solid #5856d6;
}

.pink-box {
	border-top: 5px solid #ff58b8;
}

.label-warning {
	background: #ff9500;
}

.label-info {
	background: #007aff;
}

.label-primary {
	background: #5856d6;
}

.label-danger {
	background: #ff58b8;
}

ul.list-generator{
    padding-left: 0;
}

.list-generator li{
    border: none;
    padding-left: 5px;
    margin-right: 35px;
}

.list-generator li h5{
    color: #313e59;
    font-size: 14px;
}

.list-generator li h6{
    color: #939da7;
    font-size: 10px;
    font-weight: 500;
    margin: 10px 0 5px;
}

#footer {
    padding: 30px 0 20px;
    margin-top: 40px;
}

.footer-copyright {
    color: #939da7;
}

.footer-copyright img{
    max-width: 18px;
    float: left;
    margin-right: 20px;
}

.footer-links a{
	color: #939da7;
}
a.dropdown-item{
  display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.top-my-account .dropdown .btn-primary:focus, .top-my-account .dropdown .btn-primary:hover{
  background-color: transparent;
    border-color: transparent;
    outline: none;
}
.nav-tabs a.active{
    border: none;
    border-bottom: 4px solid #5bd6e5;
    opacity: 1 !important;
    background: transparent;
}
.sideMenu a {
    display: block;
}

.sideMenu a i {
    color: #5856d6;
    font-size: 14px;
    width: 20px;
    text-align: center;
}

.sideMenu a {
    color: #5e6d7c;
    font-size: 14px;
    border-left: 4px solid transparent;
    padding: 7.5px 0;
    padding-left: 30px;
    display: block;
}

.sideMenu a.active {
    border-left: 4px solid #5856d6;
}
.top-tabs .nav-tabs>a {
  
    color: #313e59;
    opacity: 0.65;
    font-size: 14px;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
}